ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li {
    background: #fff;
    border-bottom: 1px solid #eee;
    padding: 15px;
    display: flex;
    align-items: center;
    transition: 0.2s; 
}
li:hover {
    background-color: #e8f4ff; 
    padding-left: 25px; 
    cursor: pointer;
}
li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    display: block;
    width: 100%; 
}  