<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{x.ho}} {{x.ten}}</title>
</head>
<body>
    <h1>Detail Information</h1>
    <h2>{{x.ho}} {{x.ten}}</h2>
    <ul>
        <li><b>MSHS:</b> {{x.student_id}}</li>
        <li><b>Họ:</b> {{x.ho}}</li>
        <li><b>Tên:</b> {{x.ten}}</li>
        <li><b>Giới tính:</b> {{x.gender}}</li>
        <li>
            <b><u>Điểm cộng:</u></b>
            <ul>
                <li><b style="font-style: italic;">Tiếng Anh: </b>{{x.diem_cong_anh}}</li>
                <li><b style="font-style: italic;">Ngữ Văn: </b>{{x.diem_cong_van}}</li>
            </ul>
        </li>
        
    </ul>
</body>
</html>