{% extends "master.html" %}
{% load static %}
{% block cssfile %}
    <link rel="stylesheet" href="{% static 'style/index.css' %}">
{% endblock %}
{% block title %}
    Quản lý học sinh
{% endblock %}
{% block content %}
    <div class="container">
        <h2 style="margin-top: 0; color: #555; border-bottom: 2px solid #eee; padding-bottom: 10px;">
            Danh sách học sinh
        </h2>
        <ul>
            {% for x in members %}
                <li>
                    <a href="details/{{x.slug}}">{{x.student_id}} - {{x.ho}} {{x.ten}}</a> 
                </li>
            {% endfor %}
        </ul>

    </div>
{% endblock %}